@import '../SCSS/general';

.landing {
    background-color: black;

    h1 {
        text-align: center;
        color: $body-color;
        margin-top: 200px;
    }

    h2 {
        text-align: center;
        color: $body-color;
    }
}
