@import '../SCSS/general';

.landing {

    h1 {
        text-align: center;
        color: $body-color;
        margin-top: 200px;
    }

    h2 {
        text-align: center;
        color: $body-color;
    }
}
