@import '../SCSS/_general';

.login {
    background-color: $background-color;

    .login-form {
        color: $body-color;
        margin-top: 200px;
        margin-left: auto;
        margin-right: auto;
        width: 25%;

        label {
            display: block;
        }

        button {
            display: block;
        }
    }
}

